<div class="nav">
    <div class="nav-inner">

        <!-- Tabs -->
        <div class="tabs full">

            <a data-page="index.html" href="index.html">Introduction</a>
            <a data-page="dataprep_eda.html" href="dataprep_eda.html">Data Prep/EDA</a>
            

            <a data-page="pca.html" href="pca.html">PCA</a>
            <a data-page="clustering.html" href="clustering.html">Clustering</a>
            <a data-page="arm.html" href="arm.html">ARM</a>
            <a data-page="dt.html" href="dt.html">DT</a>
            <a data-page="nb.html" href="nb.html">NB</a>
            <a data-page="svm.html" href="svm.html">SVM</a>
            <a data-page="regression.html" href="regression.html">Regression</a>

            <a data-page="conclusions.html" href="conclusions.html">Conclusions</a>
            <a data-page="about.html" href="about.html">About Me</a>

        </div>
    </div>
</div>